@font-face {
    font-family: "Rampart";
    src: url('Rampart_One/RampartOne-Regular.ttf');
    src: url('Rampart_One/RampartOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('pictures/outspace3.png');
    background-size:cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    justify-content: center;
    text-align: center;
    overflow-x:hidden;
    width: 100%;
}

header {
    color: #fff;
    text-align: center;
    padding: 1em;
}

@media only screen and (min-width: 21vh) {
    /* Styles for screens smaller than 768px */
    footer{
        overflow-x: hidden;
        width: 100%;
    }

    #navvie{
        overflow-x: hidden;
        width: 100%;
    }
}

nav {
    background-color: rgb(15, 15, 78);
    padding: 0.5em;
    width: 100%;
}

#navvie{
    padding: 1vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    /*display: inline;*/
    margin-right: 1em;
}

main {
    padding: 2em;
}

footer {
    background-color: rgb(15, 15, 78);
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
}

h2{
    font-style: italic;
    font-family: Rampart;
    text-align: center;
    color: white;
    background-color:  rgb(15, 15, 78);
}

p{
    text-align: center;
    font-family: Rampart;
    font-size: 200%;
    color: black;
}

a{
    font-family: Rampart;
    color: white;
    
    font-size: 200%;
    text-align: center;
}

#t{
    color: white;
}

#links li a{
    color: white;
}

main p{
    color: white;
    font-size: 12vh;
}

.card-body h2{
    color: white;
}

.card button{
    width: 50%;
    position: relative;
    left: 25%;
    background-color: rgb(15, 15, 78);
    font-family: Rampart;
    bottom: 1%;
}

.card img{
    width: auto;
    height: 70vh;
}

#profile_pic{
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

}

.container img{
    position: relative;
    
}

.container p{
    font-weight: bold;

    position: relative;
    
    text-align: center;
    font-size: larger;
    color: black;
}

.container header p{
    position: relative;
    bottom: 10%;
    text-align: center;
    justify-content: center;
}

#about_footer{
    position: relative;
    top: 10%;
    text-align: center;

}

#name{
    font-family: 'Courier New', Courier, monospace;
}

#hello{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
    font-size:5vh;
    text-decoration: underline;
    background-color: rgb(15, 15, 78);
}

#artwork{
    color: white;
}

#port_footer{
    top:20%;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    gap: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.image-gallery img {
    width: 40vh;
    height: 50vh; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    
    justify-content: center;
}

.image-gallery img:hover{
    transform: scale(1.2);
}


.gal1{
    position: relative;
    left: 25vh;
    
}


#insta_link{
    text-align: center;
    color: white;
    justify-content: center;
    text-decoration:underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
    
}

.row a {
    text-decoration: none;
    color: inherit;
}

#insta{
   width: 6vh;
   height: 10vh;
   position: relative;
   left: 1vh;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-item {
    
    
    padding: 5%;
    /*cursor: pointer;*/
}

html, body {
    height: 100%;
    min-height: 100%;
  }
  
  .page-wrap {
    min-height: 100%;
    width: 100%;
    /* equal to footer height */
     
  }

  .page-wrap2{
    margin-bottom: 30vh;
    margin-right: 5vh;
    margin-left: 5vh;
  }

  .page-wrap:after {
    content: "";
    display: block;
  }

  .site-footer {
    background: navy;
  }

  #pics{
    padding: 6%;
    
  }

  .card-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
  }

  #about{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    
    color: black;
  }

  .dropdown-menu .dropdown-item{
    font-size: 2vh;
  }

:root {
    --bs-nav-pills-link-active-bg:red;
}

