<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iverson Ruffin Contact</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ url_for('index')}}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('illustrations')}}">Illustrations</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{ url_for('contact')}}">Contact</a></li>
    </ul>

    <p id="mainTitle" class="text-center">The (Digital) Land of Iverson</p>

    <div class="contact_us_2">
        <div class="responsive-container-block big-container">
            <div class="responsive-container-block container">
                <form id="contactForm" action="/sendemail/" method="post" class="form-box">
                    <div class="container-block form-wrapper">
                        <p class="text-blk contactus-head">Get in Touch</p>
                        <div class="responsive-container-block">
                            <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6">
                                <p class="text-blk input-title">First Name</p>
                                <input class="input" id="firstName" name="firstName" placeholder="Please enter first name...">
                            </div>
                            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                                <p class="text-blk input-title">Last Name</p>
                                <input class="input" id="lastName" name="lastName" placeholder="Please enter last name...">
                            </div>
                            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                                <p class="text-blk input-title">Email</p>
                                <input class="input" id="guestEmail" name="guest_email" placeholder="Please enter email...">
                            </div>
                            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                                <p class="text-blk input-title">Subject</p>
                                <input class="input" id="subject" name="Subject" placeholder="Please enter subject...">
                            </div>
                            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12">
                                <p class="text-blk input-title">What Do You Have In Mind?</p>
                                <textarea class="textinput" id="message" name="message" placeholder="Please enter query..."></textarea>
                            </div>
                        </div>
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" tabindex="-1" id="responseModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Message Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">
                    <p>Your message was successfully sent!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer text-center">
        <div class="social-media-links">
            <a href="https://www.instagram.com/abstractcataract/" target="_blank" id="ig-pic">
                <img id="igpic" class="link-img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
            </a>
        </div>
        <br>
        <p class="footer-text">Iverson Ruffin &copy; 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/formValidation.js') }}"></script>
</body>
</html>
